<div class="m-10">
  <div class="text-[22px] font-bold mb-4">Admin List</div>

  <div>
    <table
      mat-table
      [dataSource]="adminList"
      matSort
      matSortActive="createdAt"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Company</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-stroked-button
            (click)="connectCompany(element._id)"
            *ngIf="element.company_id; else noCompany"
          >
            {{ element.company_id?.company_name }}
          </button>
          <ng-template #noCompany>
            <button
              mat-stroked-button
              color="primary"
              (click)="connectCompany(element._id)"
            >
              No Company
            </button>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="disconnect">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Disconnect</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-stroked-button
            color="accent"
            *ngIf="element.company_id"
            (click)="disconnectAdminCompanyDialog(element._id)"
          >
            Disconnect
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell m-5" colspan="9999">No data</td>
      </tr>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
