<div class="m-10">
  <div class="text-[22px] font-bold mb-4">Company List</div>

  <div>
    <div class="flex items-center justify-between">
      <form [formGroup]="searchForm" novalidate>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            spellcheck="false"
            formControlName="nameFormControl"
          />
        </mat-form-field>
        <button (click)="getCompanyList()">
          <mat-icon
            class="w-[30px] h-[30px] text-[30px] hover:text-[#3f51b5] ml-3"
            >youtube_searched_for</mat-icon
          >
        </button>
      </form>

      <button mat-raised-button color="primary" (click)="addCompany()">
        Add Company
      </button>
    </div>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="createdAt"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Code</th>
        <td mat-cell *matCellDef="let element">
          {{ element.company_code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.company_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rollover">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Rollover</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.rollover"> O </span>
          <span *ngIf="!element.rollover"> X </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="rollover_max_month">
        <th mat-header-cell *matHeaderCellDef class="font-bold">
          Rollover Max Month
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.rollover_max_month ? element.rollover_max_month : "-" }}
          <span *ngIf="element.rollover"> month(s) </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="rollover_max_day">
        <th mat-header-cell *matHeaderCellDef class="font-bold">
          Rollover Max Day
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.rollover_max_day ? element.rollover_max_day : "-" }}
          <span *ngIf="element.rollover"> day(s) </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="btns">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button
              mat-stroked-button
              color="primary"
              class="mr-2"
              (click)="editCompany(element._id)"
            >
              Edit
            </button>

            <button
              mat-stroked-button
              color="accent"
              (click)="deleteCompanyDialog(element._id)"
            >
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center p-5" colspan="9999">No data</td>
      </tr>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
