<div class="m-10">
  <div class="text-[22px] font-bold mb-4">Add Company</div>

  <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany()">
    <!-- company name -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Company Name</span>
      </div>
      <div class="flex-1 pt-[21px] pl-4">
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput type="text" formControlName="company_name" />
          <mat-error
            *ngIf="addCompanyForm.controls['company_name'].hasError('required')"
          >
            Please enter company name.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Annual Policy -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Annual Policy</span>
      </div>
      <div class="flex-1 flex items-center pl-4">
        <mat-radio-group color="primary" formControlName="annual_policy">
          <mat-radio-button value="byYear">By year</mat-radio-button>
          <mat-radio-button value="byContract">By contract</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- rollover -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Rollover</span>
      </div>
      <div class="flex-1 flex items-center pl-4">
        <mat-radio-group color="primary" formControlName="rollover">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div *ngIf="addCompanyForm.get('rollover')?.value === true">
      <!-- rollover max month -->
      <div
        class="flex flex-row justify-center border-b border-solid border-black"
      >
        <div
          class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
        >
          <span>Rollover Max Month</span>
        </div>
        <div class="flex-1 pt-[21px] pl-4">
          <mat-form-field appearance="outline">
            <mat-label>Rollover Max Month (month)</mat-label>
            <input
              matInput
              type="number"
              class="numeric-input"
              formControlName="rollover_max_month"
              placeholder="Rollover Max Month"
            />
            <mat-error
              *ngIf="
                addCompanyForm.controls['rollover_max_month'].hasError('min')
              "
            >
              Please enter positive number.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- rollover max leave days -->
      <div
        class="flex flex-row justify-center border-b border-solid border-black"
      >
        <div
          class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
        >
          <span>Rollover Max Leave Days</span>
        </div>
        <div class="flex-1 pt-[21px] pl-4">
          <mat-form-field appearance="outline">
            <mat-label>Rollover Max Leave Days</mat-label>
            <input
              matInput
              type="number"
              class="numeric-input"
              formControlName="rollover_max_day"
              placeholder="Rollover Max Leave Days"
            />
            <mat-error
              *ngIf="
                addCompanyForm.controls['rollover_max_day'].hasError('min')
              "
            >
              Please enter positive number.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Replacement Day -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Replacement Day</span>
      </div>
      <div class="flex-1 flex items-center pl-4">
        <mat-radio-group color="primary" formControlName="isReplacementDay">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- RD Validity Day -->
    <div *ngIf="addCompanyForm.get('isReplacementDay')?.value == true">
      <div
        class="flex flex-row justify-center border-b border-solid border-black"
      >
        <div
          class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
        >
          <span>RD Validity Term</span>
        </div>
        <div class="flex-1 pt-[21px] pl-4">
          <mat-form-field appearance="outline">
            <mat-label>RD Validity Term (month)</mat-label>
            <input
              matInput
              type="number"
              class="numeric-input"
              formControlName="rd_validity_term"
              placeholder="RD Validity Term"
            />
            <mat-error
              *ngIf="
                addCompanyForm.controls['rd_validity_term'].hasError('min')
              "
            >
              Please enter positive number.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Advance Annual Leave -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Advance Annual Leave</span>
      </div>
      <div class="flex-1 flex items-center pl-4">
        <mat-radio-group color="primary" formControlName="isMinusAnnualLeave">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- leave standard -->
    <div
      class="flex flex-row justify-center border-b border-solid border-black"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[20%]"
      >
        <span>Leave Standard</span>
      </div>
      <div class="flex-1 pt-[21px] pl-4">
        @for(leaveStandard of getLeaveStandardsControls().controls; track
        leaveStandard.year; let i = $index){
        <div formArrayName="leave_standard">
          <div [formGroupName]="i">
            <div class="flex items-center">
              <div>
                <input type="hidden" formControlName="year" />
                <div class="mb-[21px] font-bold mr-4">{{ i + 1 }} year</div>
              </div>
              <div class="mr-4">
                <mat-form-field appearance="outline">
                  <mat-label>Annual Leave</mat-label>
                  <input
                    matInput
                    type="number"
                    class="numeric-input"
                    formControlName="annual_leave"
                  />
                  <mat-error
                    *ngIf="leaveStandard.hasError('min', 'annual_leave')"
                  >
                    Please enter positive number.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mr-4">
                <mat-form-field appearance="outline">
                  <mat-label>Sick Leave</mat-label>
                  <input
                    matInput
                    type="number"
                    class="numeric-input"
                    formControlName="sick_leave"
                  />
                  <mat-error
                    *ngIf="leaveStandard.hasError('min', 'sick_leave')"
                  >
                    Please enter positive number.
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="i <= 0" class="empty"></div>
              <div
                *ngIf="i > 0"
                class="mb-[21px] cursor-pointer"
                (click)="cancelItem(i)"
              >
                <mat-icon>remove</mat-icon>
              </div>
            </div>
          </div>
        </div>
        }

        <div
          class="flex justify-center mb-5 cursor-pointer"
          (click)="addItem()"
        >
          <mat-icon>add</mat-icon>
        </div>
      </div>
    </div>

    <div>
      <div class="flex flex-row justify-center items-center gap-5 mt-8">
        <button mat-raised-button (click)="toBack()">Cancel</button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="addCompanyForm.invalid"
        >
          Request
        </button>
      </div>
      <div></div>
    </div>
  </form>
</div>
