<div class="m-10 max-w-[800px]">
  <div class="text-[22px] font-bold mb-4">Add Country</div>

  <form [formGroup]="countryForm" novalidate>
    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Country Name</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>Country Name</mat-label>
        <input matInput type="text" formControlName="countryName" />
        <mat-error
          *ngIf="countryForm.controls['countryName'].hasError('required')"
        >
          Please enter country name.
        </mat-error>
      </mat-form-field>
    </div>

    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Country Code</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>Country Code</mat-label>
        <input matInput type="text" formControlName="countryCode" />
        <mat-error
          *ngIf="countryForm.controls['countryCode'].hasError('required')"
        >
          Please enter country code.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center gap-5 mt-8">
      <button
        mat-raised-button
        color="primary"
        (click)="addCountry()"
        [disabled]="countryForm.invalid"
      >
        Request
      </button>
    </div>
  </form>
</div>
