<div class="mainContentContainer">
  <div class="mainContent">
    <div fxLayout="row">
      <div class="mainTitle">Add Country</div>
    </div>

    <form [formGroup]="countryForm" novalidate>
      <div class="leaveTableContainer">
        <div fxLayout="column" class="br_ltop">
          <div class="lineDivider" fxLayout="row wrap">
            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
              <div class="leftBox">
                <span>Country Name</span>
              </div>
            </div>
            <div class="rightTable" fxFlex>
              <div>
                <mat-form-field appearance="outline" class="countryFormFieldBox">
                  <input matInput type="text" formControlName="countryName" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="lineDivider" fxLayout="row wrap">
            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
              <div>
                <span>Country Code</span>
              </div>
            </div>
            <div class="rightTable" fxFlex>
              <div>
                <mat-form-field appearance="outline" class="countryFormFieldBox">
                  <input matInput type="text" formControlName="countryCode" />
                </mat-form-field>
              </div>
            </div>

          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-raised-button class="approveBtn" (click)="addCountry()" [disabled]="countryForm.invalid">
              Request
            </button>
            <button mat-raised-button class="cancelBtn" mat-dialog-close> Cancel </button>
          </div>
        </div>
      </div>
    </form>


  </div>
</div>