:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//=======================
@import "../../../styles.scss";

// angular material 예제들 참조
.sidenav-container {
  min-width: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: $sidenav-width;
  background: $sidenav-bgColor;
}
