<form [formGroup]="editProfileForm" novalidate>
  <div class="profile-edit" fxLayout="column">
    <div class="inputContainer">
      <h1>Edit Profile</h1>
      <div>
        <div class="profile-photo">
          <img [src]="userInfoStore().profileImgPath" />
          <label>
            <input
              type="file"
              id="fileInput"
              #fileInputElement
              style="display: none"
              (change)="fileChangeEvent($event)"
              accept="image/*"
            />
            <button
              mat-flat-button
              type="button"
              class="custom-file-input-button"
              (click)="fileInputElement.click()"
            >
              change
            </button>
          </label>
        </div>
        <div class="profile-id">
          <h1>ID : {{ userInfoStore().email }}</h1>
        </div>
      </div>
      <div class="profile_input">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input class="data-input" matInput formControlName="name" />
          <mat-error
            *ngIf="editProfileForm.controls['name'].hasError('required')"
          >
            Please enter name.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input
            type="password"
            class="data-input"
            matInput
            formControlName="password"
            minlength="6"
            maxlength="15"
          />
          <mat-error
            *ngIf="
              editProfileForm.controls['password'].hasError('minlength') ||
              editProfileForm.controls['password'].hasError('maxlength')
            "
          >
            The password should be between 6 and 15
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            class="data-input"
            matInput
            formControlName="confirmPassword"
            minlength="6"
            maxlength="15"
          />
          <mat-error
            *ngIf="
              editProfileForm.controls['confirmPassword'].hasError(
                'minlength'
              ) ||
              editProfileForm.controls['confirmPassword'].hasError('maxlength')
            "
          >
            The password should be between 6 and 15
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="editProfileForm.errors"
          >Passwords do not match.</mat-error
        >

        <button mat-flat-button (click)="updateProfile()">Edit</button>
      </div>
    </div>
  </div>
</form>
