<form [formGroup]="editProfileForm" novalidate>
  <div class="m-10">
    <div class="text-[22px] font-bold mb-8">Edit Profile</div>

    <div class="flex flex-col justify-between items-center gap-5">
      <ng-container *ngIf="userInfoStore().profile_img; else iconTemplate">
        <img
          [src]="userInfoStore().profile_img"
          class="w-[200px] h-[200px] border border-gray-300 rounded-full"
        />
      </ng-container>

      <ng-template #iconTemplate>
        <mat-icon class="w-[200px] h-[200px] text-[200px] text-[#00154f]"
          >account_circle</mat-icon
        >
      </ng-template>
      <label>
        <input
          type="file"
          id="fileInput"
          #fileInputElement
          style="display: none"
          (change)="fileChangeEvent($event)"
          accept="image/*"
        />
        <button
          mat-stroked-button
          type="button"
          (click)="fileInputElement.click()"
        >
          Change
        </button>
      </label>

      <div>ID : {{ userInfoStore().email }}</div>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error
          *ngIf="editProfileForm.controls['name'].hasError('required')"
        >
          Please enter name.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          minlength="6"
          maxlength="15"
        />
        <mat-error
          *ngIf="
            editProfileForm.controls['password'].hasError('minlength') ||
            editProfileForm.controls['password'].hasError('maxlength')
          "
        >
          The password should be between 6 and 15.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          minlength="6"
          maxlength="15"
        />
        <mat-error
          *ngIf="
            editProfileForm.controls['confirmPassword'].hasError('minlength') ||
            editProfileForm.controls['confirmPassword'].hasError('maxlength')
          "
        >
          The password should be between 6 and 15.
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="editProfileForm.errors" class="text-[14px] ml-[-12px]"
        >Passwords do not match.</mat-error
      >

      <button mat-raised-button color="primary" (click)="updateProfile()">
        Request
      </button>
    </div>
  </div>
</form>
