<mat-toolbar class="h-[70px] bg-[#00154F] box-border border-b-[#E3E3E3] text-white border-l">
  <!-- fxHide: https://github.com/angular/flex-layout/wiki/Responsive-API -->
  @if(!isDesktop()){
  <button id="menu_button" class="mr-8 ml-5" (click)="openSidenav()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  }


  <!-- <span class="toolbarLeftTitle">
	
	</span> -->
  <span class="example-spacer"></span>
  <div fxLayout="row" fxLayoutGap="20px">
    <!-- <div>
			<button mat-button [matMenuTriggerFor]="notification" class="mat-icon-button">
				<mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
			</button>
			<mat-menu #notification="matMenu" xPosition="before" class="dropdown-box">
				<div class="dropdown">
					<div fxLayout="row" fxLayoutAlign="space-between center" class="dropdown-header">
						<div>
							<div class="dropdown-heading">Notifications</div>
							<div class="dropdown-subheading">You have 8 new notifications.</div>
						</div>
						<div>
							<mat-icon>apps</mat-icon>
						</div>
					</div>
					<div class="dropdown-content">
						<div *ngFor="let item of notiItems; let last=last">
							<div matRipple fxLayout="row" fxLayoutAlign="space-between center"
								class="notification notification-cursor">
								<div fxLayout="row" fxLayoutAlign="start center">
									<mat-icon class="icon-box-1" ngClass="{{item.notiType}}">{{ item.iconText }}
									</mat-icon>

									<div>
										<div class="notification-label">{{ item.notiLabel }}</div>
										<div class="notification-description">1 day ago</div>
									</div>
								</div>

								<mat-icon class="icon-box-2">keyboard_arrow_right</mat-icon>

							</div>
							<mat-divider *ngIf="!last"></mat-divider>
						</div>
					</div>
					<div class="dropdown-footer" fxLayout="row" fxLayoutAlign="center center">
						<button mat-button color="primary">MARK ALL AS READ</button>
					</div>
				</div>
			</mat-menu>
		</div> -->

    <div>
      <button mat-button [matMenuTriggerFor]="profile" class="text-white">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-icon>person</mat-icon>
          <span class="profileName">{{userInfo()?.name}}</span>
        </div>
      </button>
      <mat-menu #profile="matMenu" xPosition="before" class="dropdown-box">
        <div class="dropdown">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="dropdown-header">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="dropdown-profile-icon">person</mat-icon>
              <div class="dropdown-profile-heading text-white">
                <!-- {{userInfo().name}} -->

                {{userInfo()?.name}}
              </div>
            </div>
            <mat-icon>apps</mat-icon>
          </div>
          <div class="dropdown-content">
            <div matRipple fxLayout="row" fxLayoutAlign="space-between center" class="notification notification-cursor"
              [routerLink]="['/profile']">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-box-1 company-request">account_circle</mat-icon>
                <div>
                  <div class="notification-label">My Profile</div>
                  <div class="notification-description">Personal Information</div>
                </div>
              </div>

              <mat-icon class="icon-box-2">keyboard_arrow_right</mat-icon>

            </div>
            <!-- <mat-divider></mat-divider> -->

          </div>
          <div class="dropdown-footer" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button color="primary" (click)="logOut();">LOGOUT</button>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>