<!-- 소제목 -->
<ng-container *ngIf="isSubheading(item)">
  <div class="text-white text-[14px] px-6 mt-8 mb-4">{{ item.label }}</div>
  <app-side-nav-item
    *ngFor="let subItem of item.children"
    [item]="subItem"
    [level]="0"
  ></app-side-nav-item>
</ng-container>

<!-- 링크 -->
<ng-container *ngIf="isLink(item)">
  <!-- class="item" -->
  <a
    [routerLinkActiveOptions]="item.routerLinkActive || { exact: false }"
    [routerLink]="item.route"
    class="item flex items-center h-[55px] px-6"
    routerLinkActive="active"
  >
    <mat-icon class="mr-5 item-icon text-white">{{ item.icon }}</mat-icon>
    <span>{{ item.label }}</span>
  </a>
</ng-container>
