<div class="card-container flex justify-center items-center flex-col">
  <mat-card class="cardBox">
    <mat-card-header class=" flex justify-center items-center flex-col">
      <div>
        <img src="assets/logo/logo-title2-rm.png" alt="">
      </div>
      <div>
        <mat-card-title>
          Register for an account
        </mat-card-title>
      </div>
      <div class="cardSubTitle">
        Simply fill out the form below
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signUpForm" class="example-form" (ngSubmit)="signUpForm.valid && signUp()">
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="text" placeholder="E-Mail *" formControlName="email" name="email" spellcheck="false"
            required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="text" placeholder="Name *" formControlName="name" name="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="password" placeholder="Password *" formControlName="password" name="password"
            minlength="4" maxlength="15" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="password" placeholder="Password (Confirm) *" formControlName="confirmedPassword"
            name="confirmedPassword" minlength="4" maxlength="15" required>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.hasError('mismatch') && signUpForm.get('confirmedPassword')?.touched">Password must
          be match with Confirmed Password</mat-error>

        <div class="flex justify-center items-center flex-col">
          <button type="submit" mat-raised-button class="signupBtn" [disabled]="!signUpForm.valid">SIGN UP</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>