<div class="m-10">
  <div class="text-[22px] font-bold mb-4">Country Holiday List</div>

  <form [formGroup]="countryHolidayForm" novalidate>
    <div class="flex flex-row gap-5 flex-wrap">
      <div class="flex flex-row gap-2 flex-wrap">
        <div class="flex flex-row justify-center items-center">
          <div
            class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] mb-[24px] min-w-[77px]"
          >
            <span>Name</span>
          </div>
          <mat-form-field appearance="outline" class="w-[200px]">
            <input matInput type="text" formControlName="holidayName" />
          </mat-form-field>
        </div>

        <div class="flex flex-row justify-center items-center">
          <div
            class="rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] mb-[24px] min-w-[77px]"
          >
            <span>Date</span>
          </div>
          <span>
            <mat-form-field appearance="outline" class="w-[200px]">
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="holidayDate"
                (dateChange)="datePickChange($event.value)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </span>
        </div>
      </div>

      <div class="flex flex-row justify-center items-center">
        <button
          mat-raised-button
          color="primary"
          (click)="addCountryHoliday()"
          [disabled]="countryHolidayForm.invalid"
        >
          Request
        </button>
      </div>
    </div>
  </form>

  <div>
    <table
      mat-table
      [dataSource]="countryHolidayList"
      matSort
      matSortActive="createdAt"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="holidayName">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.holidayName }}</td>
      </ng-container>

      <ng-container matColumnDef="holidayDate">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.holidayDate | date : "YYYY-MM-dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="btns">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-stroked-button
            color="accent"
            (click)="deleteCountryHolidayDialog(element._id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center p-5" colspan="9999">No data</td>
      </tr>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
