.confirm_icon,
.ok_icon {
  font-size: 80px;
  width: 80px;
  height: 80px;
  color: var(--point-color);
}

.negative_icon {
  font-size: 80px;
  width: 80px;
  height: 80px;
  color: var(--error-color);
}

.making_sure {
  font-size: 30px;
}

.confirm_content {
  color: #999;
  font-size: 14px;
  margin: 40px 0;
}

.button_box {
  display: flex;
  gap: 20px;

  .cancelBtn {
    background: #f0f2f5 !important;
    color: #6a6e80 !important;
  }
}

.ok_button {
  background: var(--point-color) !important;
  color: #fff !important;
  width: 100%;
}

.negative_button {
  background-color: var(--error-color) !important;
  color: #fff !important;
}
