/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$sidenav-width: 279px;
$sidenav-toolbar-height: 64px; // material default
$sidenav-toolbar-height-mobile: 56px; // material default <599px
$sidenav-bgColor: #00154f;
$sidenav-active-color: #f4af1b;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

/* 각 sccs에 넣으면 적용이 안되는 Angular Material */
// tailwind css 필터부분 깨지는거 수정
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden !important;
  box-shadow: none !important;
}

// meeting-list 페이지 filter 클래스 input
.filter {
  .mat-mdc-text-field-wrapper {
    height: 50px !important;
  }

  label {
    padding-bottom: 6px;
  }

  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding-bottom: 15px;
    color: #888888;
  }
}

.mat-mdc-table thead {
  background: none !important;
}

.mat-mdc-card {
  box-shadow: none !important;
}

// dialog scroll
.cdk-overlay-pane.mat-mdc-dialog-panel {
  overflow-y: auto;
}
